<ion-header>
  <ion-toolbar class="colorToolbar">
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>Visita Técnica</ion-title>

  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <!--Icono de recargar pagina mientras bajas la pagina
    <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
      <ion-refresher-content></ion-refresher-content>
    </ion-refresher>
  -->

    <ion-list>
        <ion-item>
        <ion-label position="stacked">Cédula:</ion-label>
        <ion-input [(ngModel)]="cedula" value={{clienteVisita.id}} type="text" maxlength="10" placeholder="0101010101" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Nombres Completos:</ion-label>
        <ion-input [(ngModel)]="nombres" value={{clienteVisita.name}} type="text" placeholder="Apellidos Nombres" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Correo Electrónico:</ion-label>
        <ion-input [(ngModel)]="correo" type="text" placeholder="Correo electrónico" [readonly]='deshabilitarTexto'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Dirección:</ion-label>
        <ion-input [(ngModel)]="calleprincipal" value={{clienteVisita.status}} type="text" placeholder="Calle principal" [readonly]='deshabilitarTexto'></ion-input>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="callesecundaria" type="text" placeholder="Calle secundaria" [readonly]='deshabilitarTexto'></ion-input>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="referencia" type="text" placeholder="Referencia" [readonly]='deshabilitarTexto'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Teléfonos:</ion-label>
        <ion-input [(ngModel)]="convecional" type="text" placeholder="Convencional" maxlength="9" [readonly]='deshabilitarTexto'></ion-input>
      </ion-item>

      <ion-item>
        <ion-input [(ngModel)]="celular" type="text" placeholder="Celular" maxlength="10" [readonly]='deshabilitarTexto'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Número de Contrato:</ion-label>
        <ion-input [(ngModel)]="contrato" type="text" placeholder="Número de contrato" maxlength="10" ></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Plan Adquirido:</ion-label>
          <ion-select [(ngModel)]="plan" interface="popover" disable="deshabilitarDisable">
            <ion-select-option value="Basico">Básico</ion-select-option>
            <ion-select-option value="Intermedio">Intermedio</ion-select-option>
            <ion-select-option value="Alto">Alto</ion-select-option>
          </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">IP:</ion-label>
        <ion-input [(ngModel)]="ip" placeholder="XXX.XXX.XXX.XXX" maxlength="15" [readonly]='deshabilitarTexto'></ion-input>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Antena:</ion-label>
          <ion-select [(ngModel)]="antena" interface="popover" >
            <ion-select-option value="LHG">LHG</ion-select-option>
            <ion-select-option value="SXT5">SXT5</ion-select-option>
            <ion-select-option value="NANO M2">NANO M2</ion-select-option>
            <ion-select-option value="DISC LITE">DISC LITE</ion-select-option>
          </ion-select>
      </ion-item>

      <ion-item>
        <ion-label position="stacked">Contraseña:</ion-label>
        <ion-input [(ngModel)]="contrasena" maxlength="15" [readonly]='deshabilitarTexto'></ion-input>
      </ion-item>
      
      <ion-item>
        <ion-label>Observación: 
          <p class="ion-text-wrap">tried calling StatusBar.styleDefault, but Cordova is not available. Make sure to include cordova.js or run in a device/simulator</p>
        </ion-label>
      </ion-item>

      <ion-item>   
        <ion-label>Coordenadas:
          <ion-buttons>
            <ion-button>
              {{latitud}} {{longitud}}
            </ion-button>
          </ion-buttons>
        </ion-label>
      </ion-item>
   
      <ion-item>
        <ion-tab-button (click)="obtenerGeolocalizacion()">
          <ion-icon name="locate-outline"></ion-icon>
          <ion-label>Coordenadas</ion-label>
        </ion-tab-button>

        <ion-tab-button (click)="miUbicacion()" (click)="navegarMapas()">
          <ion-icon name="map-outline"></ion-icon>
          <ion-label>Google Maps</ion-label>
        </ion-tab-button>
      </ion-item>

      <ion-item>
        <ion-toolbar class="centrarBoton">
          <ion-button (click)="textoDeshabilitado()" (click)="textoEnable()">Actualizar </ion-button>
          <ion-button (click)="textoHabilitar()" (click)="textoDisable()" (click)="temporal()">Guardar</ion-button>
        </ion-toolbar> 
      </ion-item>

    </ion-list>
  </ion-content>
  
  <ion-footer>
    
      <ion-item>
        <ion-label >Realizado</ion-label>      
        <ion-toggle slot="end" 
                    [(ngModel)]="realizado" 
                     ></ion-toggle>
      </ion-item>
    
  </ion-footer>