<ion-header>
  <ion-toolbar>
    <ion-title>Perfil</ion-title>

    <ion-buttons slot="secondary">
      <ion-button (click)="mostrarPop( $event )">
        <ion-icon slot="icon-only" md="ellipsis-vertical" ></ion-icon> 
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-avatar>
   <img src="https://gravatar.com/avatar/dba6bae8c566f9d4041fb9cd9ada7741?d=identicon&f=y">
 </ion-avatar>  
    
  <ion-list>
      <ion-item>
        <ion-label>Usuario:</ion-label>
        <ion-input value=juan.perez type="text" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Nombres:</ion-label>
        <ion-input value="Juan Perez" type="text" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Cargo:</ion-label>
        <ion-input value="Tecnico" type="text" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Correo:</ion-label>
        <ion-input value="juanperez@astronet.ec" type="text" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Dirección:</ion-label>
        <ion-input value="Av. Panamericana" type="text" readonly></ion-input>
      </ion-item>

      <ion-item>
        <ion-label>Teléfono:</ion-label>
        <ion-input value="2400128" type="text" readonly></ion-input>
      </ion-item>
  </ion-list>
  
</ion-content>
